<div class="container-fluid headercover" id="pageHead">
	<div class="container-sm">
		<h1 class="text-center text-white rounded-top" id="pagemaintitle">Noteblock Music Maker for Minecraft</h1>
		<h5 class="text-center text-white rounded-bottom py-md-1" id="pagesubtitle">Upload music and create an Add-On (Bedrock edition 1.20.0+) that builds the noteblock structure in your world, to play the noteblock version of music!</h5>
	</div>
</div>
<div class="container-fluid bg-dark"><br></div>
